.idea/
**/*.gif
**/~$*.*
**/*.swp
**/.DS_store
**/.ipynb_checkpoints/
**/*_bk.*
**/old/
**/*.png
**/*.jpg

data/covid-19-in-the-american-continent/vis/
data/points/
data/*.csv
data/**/*.csv
data/**/*.txt

target/
logs/
backup/
materials/
lib/
python/

run_exp.sh
python/simulation/*.jpg
cache_memory.csv
compute_cache_memory.py